<a (click)="expand_operations=!expand_operations"><mat-icon [hidden]="expand_operations">keyboard_arrow_right</mat-icon></a>
<a (click)="expand_operations=!expand_operations"><mat-icon [hidden]="!expand_operations">keyboard_arrow_down</mat-icon></a>
<div class="flex flex-col items-center gap-4 p-6 max-w-md mx-auto bg-white shadow-xl rounded-2xl" [hidden]="!expand_operations">
	<div class="d-flex flex-row justify-content-between">
		<div style="margin: 5px">
			<button [disabled]="!file || uploading" (click)="upload()"
					class="px-6 py-2 rounded-xl shadow disabled:opacity-40">
				{{ uploading ? 'Uploading…' : '1 Upload' }}
			</button>
			<button [disabled]="saving"
					class="px-6 py-2 rounded-xl shadow disabled:opacity-40"
					(click)="save()">
				{{ saving ? 'Saving…' : '3 Save' }}
			</button>
			<button
				class="px-6 py-2 rounded-xl shadow disabled:opacity-40"
				(click)="restore()">
				4. Restore
			</button>
			<button
				class="px-6 py-2 rounded-xl shadow disabled:opacity-40"
				(click)="downloadBackupFiles()">
				5. Download backup files
			</button>

			<p *ngIf="progress>=0 && progress<100" class="text-sm">Uploading… {{ progress }}%</p>
			<p *ngIf="progress===100" class="text-sm text-green-600">Upload complete ✓</p>
			<p *ngIf="error" class="text-sm text-red-600">{{ error }}</p>

			<p *ngIf="assign_upload" class="text-sm text-green-600">Assigning complete ✓</p>
			<p *ngIf="assign_error" class="text-sm text-red-600">{{ assign_error }}</p>

			<p *ngIf="saving_progress>=0 && saving_progress<100" class="text-sm text-green-600">Save complete ✓</p>
			<p *ngIf="save_error" class="text-sm text-red-600">{{ save_error }}</p>

		</div>
		<div>
			<p>Upload transactions</p>
			<input type="file" accept=".xlsx" (change)="onFileSelected($event)"
				   class="file:border file:rounded-lg file:px-4 file:py-2"/>
		</div>
		<div>
			<p>Upload backup files</p>
			<input type="file" accept=".zip" (change)="onBackupFileSelected($event)"
				   class="file:border file:rounded-lg file:px-4 file:py-2"/>
		</div>
	</div>
</div>
<table mat-table [dataSource]="transactions">
	<ng-container matColumnDef="bookDate">
		<th mat-header-cell *matHeaderCellDef>Book Date</th>
		<td mat-cell *matCellDef="let element">{{element.bookDate | date:'dd/MM/yyyy' }}</td>
	</ng-container>

	<ng-container matColumnDef="transactionDate">
		<th mat-header-cell *matHeaderCellDef>Transaction date</th>
		<td mat-cell *matCellDef="let element">{{element.transactionDate | date:'dd/MM/yyyy'}}</td>
	</ng-container>

	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef>Amount</th>
		<td mat-cell *matCellDef="let element">€ {{element.amount.toFixed(2)}}</td>
	</ng-container>

	<ng-container matColumnDef="nameOtherParty">
		<th mat-header-cell *matHeaderCellDef>Party</th>
		<td mat-cell *matCellDef="let element">{{element.nameOtherParty}}</td>
	</ng-container>

	<ng-container matColumnDef="costCenter">
		<th mat-header-cell *matHeaderCellDef>Cost center</th>
		<td mat-cell *matCellDef="let element">
			<mat-form-field appearance="fill" style="width: 100%;">
				<mat-select [(ngModel)]="element.costCenterReference"
							(selectionChange)="assign()">
					<mat-optgroup label="Cost" *ngIf="costCenterService.costs.length">
						<mat-option *ngFor="let costCenter of costCenterService.costs"
									[value]="costCenter.costCenter"
									class="cost-center-option">
							{{costCenter.costCenter}}
						</mat-option>
					</mat-optgroup>
					<mat-optgroup label="Income" *ngIf="costCenterService.incomes.length">
						<mat-option *ngFor="let costCenter of costCenterService.incomes"
									[value]="costCenter.costCenter"
									class="income-center-option">
							{{costCenter.costCenter}}
						</mat-option>
					</mat-optgroup>
				</mat-select>
			</mat-form-field>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
