<mat-expansion-panel style="margin-bottom: 10px">
	<mat-expansion-panel-header>
		<mat-panel-title> File operations </mat-panel-title>
	</mat-expansion-panel-header>
	<div class="d-flex flex-row justify-content-between">
		<div style="margin: 5px">
			<button [disabled]="!file" (click)="upload()"
					class="px-6 py-2 rounded-xl shadow disabled:opacity-40">
				Upload
			</button>
			<button
					class="px-6 py-2 rounded-xl shadow disabled:opacity-40"
					(click)="save()">
				Save
			</button>
			<button
				class="px-6 py-2 rounded-xl shadow disabled:opacity-40"
				(click)="restore()">
				4. Restore
			</button>
			<button
				class="px-6 py-2 rounded-xl shadow disabled:opacity-40"
				(click)="downloadBackupFiles()">
				5. Download backup files
			</button>
		</div>
		<div>
			<p>Upload transactions</p>
			<input type="file" accept=".xlsx" (change)="onFileSelected($event)"
				   class="file:border file:rounded-lg file:px-4 file:py-2"/>
		</div>
		<div>
			<p>Upload backup files</p>
			<input type="file" accept=".zip" (change)="onBackupFileSelected($event)"
				   class="file:border file:rounded-lg file:px-4 file:py-2"/>
		</div>
	</div>
</mat-expansion-panel>

<table mat-table [dataSource]="transactions">
	<ng-container matColumnDef="bookDate">
		<th mat-header-cell *matHeaderCellDef>Book Date</th>
		<td mat-cell *matCellDef="let element">{{element.bookDate | date:'dd/MM/yyyy' }}</td>
	</ng-container>

	<ng-container matColumnDef="transactionDate">
		<th mat-header-cell *matHeaderCellDef>Transaction date</th>
		<td mat-cell *matCellDef="let element">{{element.transactionDate | date:'dd/MM/yyyy'}}</td>
	</ng-container>

	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef>Amount</th>
		<td mat-cell *matCellDef="let element">€ {{element.amount.toFixed(2)}}</td>
	</ng-container>

	<ng-container matColumnDef="nameOtherParty">
		<th mat-header-cell *matHeaderCellDef>Party</th>
		<td mat-cell *matCellDef="let element">{{element.nameOtherParty}}</td>
	</ng-container>

	<ng-container matColumnDef="costCenter">
		<th mat-header-cell *matHeaderCellDef>Cost center</th>
		<td mat-cell *matCellDef="let element">
			<mat-form-field appearance="fill" style="width: 100%;">
				<mat-select [(ngModel)]="element.costCenterReference"
							(selectionChange)="assign()">
					<mat-optgroup label="Cost" *ngIf="costCenterService.costs.length">
						<mat-option *ngFor="let costCenter of costCenterService.costs"
									[value]="costCenter.costCenter"
									class="cost-center-option">
							{{costCenter.costCenter}}
						</mat-option>
					</mat-optgroup>
					<mat-optgroup label="Income" *ngIf="costCenterService.incomes.length">
						<mat-option *ngFor="let costCenter of costCenterService.incomes"
									[value]="costCenter.costCenter"
									class="income-center-option">
							{{costCenter.costCenter}}
						</mat-option>
					</mat-optgroup>
				</mat-select>
			</mat-form-field>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
