<div class="container">
	<div class="row">
		<div class="col">
			<app-balance-post [post_title]='vaste_activa_title'></app-balance-post>
			<app-balance-post [post_title]='vlottende_activa_title'></app-balance-post>
			<app-balance-post [post_title]='liquide_middelen_title'></app-balance-post>
		</div>
		<div class="col">
			<app-balance-post [post_title]='eigen_vermogen_title'></app-balance-post>
			<app-balance-post [post_title]='langlopende_schulden_title'></app-balance-post>
			<app-balance-post [post_title]='kortlopende_schulden_title'></app-balance-post>
		</div>
	</div>
</div>
