<div class="container">
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
				<tr style="color:red">
					<th>Costs</th>
					<th>Amount</th>
				</tr>
				</thead>
				<tbody>
				<tr style="font-weight: bold">
					<td>Total cost</td>
					<td>{{this.costCenterService.accumulatedAmounts.totalCost}}</td>
				</tr>
				<tr *ngFor="let cost_center of this.costCenterService.costs; index as i">
					<td>{{ cost_center.costCenter }}</td>
					<td>{{ cost_center.totalAmount | currency: 'EUR' }}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col">
			<table class="table">
				<thead>
				<tr>
					<th>Incomes</th>
					<th>Amount</th>
				</tr>
				</thead>
				<tbody>
				<tr style="font-weight: bold">
					<td>Total income</td>
					<td>{{this.costCenterService.accumulatedAmounts.totalIncome}}</td>
				</tr>
				<tr *ngFor="let cost_center of this.costCenterService.incomes; index as i">
					<td>{{ cost_center.costCenter }}</td>
					<td>{{ cost_center.totalAmount | currency: 'EUR' }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
