<div style="display: flex; background-color:#f7f0e5;margin-bottom: 20px;">
	<img src="./assets/banner-cropped.webp" alt="Logo">
	<nav class="navbar">
		<a routerLink="transactions">Transactions</a>
		<a routerLink="balance">Balance</a>
		<a routerLink="income-statements">Income statements</a>
		<a routerLink="charts">Charts</a>
	</nav>
	<mat-form-field *ngIf="bookYearService.availableBookYears.length" appearance="fill"
	                style="margin-left: auto; margin-right: 20px; align-self: center;">
		<mat-label>Bookyear</mat-label>
		<mat-select (ngModelChange)="bookYearService.selectBookYear($event)"
		            [ngModel]="bookYearService.selectedBookYear">
			<mat-option *ngFor="let bookYear of bookYearService.availableBookYears" [value]="bookYear">
				{{ bookYear }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<main>
	<router-outlet></router-outlet>
</main>
